body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 70px;
    color: white;
    margin: 0;
    padding: 0;
}

.heading {
    background-color: rgb(1, 0, 70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    background-color: blue;
}